.baslik {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslategrey;
    font-style: italic;
    font-size: 30px;
    margin-top: 20px;
}
.logo {
   float: left; 
   margin-top:-5px;
   width:100px; 
   height:100px;
}
.anasayfa{
   width:990px;
   height: 1000px;
   margin:auto;
   background-color:white;
   margin-top: -20px;
}
.header {
   width:990px;
   height:85px;
}
.menu li {
   display: inline-block;
   width:150px;
   height: 30px;
   line-height: 30px;
   position: relative;
  }
  .menu ul {
   visibility:hidden;
   position: absolute;
   background-color:#333333;
   border-radius: 3px;
   width: 150px;
   opacity: 0;
   top:50px;
   border:1px solid black;
   text-align: left;
  }
  .menu li:hover ul{
   opacity: 1;
   top: 32px;
   visibility:visible;
  }
  .menu ul li {
   display: block;
   position: relative;
  }
  .menu ul li a {
   font-size: 0.6em;
   padding: 0 8px;
  }
  .menu a{
   display: block;
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   padding: 0px 10px;
   border-radius: 3px;
   font-size: 0.9em;
  }
  .menu a:hover {
   background-color: white;
   color: #468ECD;
   box-shadow: 0px 1px 2px rgba(116, 115, 115, 0.5);
   text-shadow: 0px 0px 2px rgba(116, 115, 115, 0.5);
  }
  .menu ul li a {
   border-radius: 0px;
   padding-left: 30px;
  }
  .menu li.menu1{ background-color: pink;}
  .menu li.menu2{ background-color: plum;}
  .menu li.menu3{ background-color: palevioletred;}
  .menu li.menu4{ background-color: orchid;}
  .menu li.menu5{ background-color: purple;}
  .menu li.menu6{ background-color: indigo;}
  /*https://www.mintik.com/2013/11/03/colorful-horizontal.html */
  .footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:white;
   color:black;
   text-align: center;
   margin-top: 450px;
   }
   .sosyal {
       float: right;
   }
   .img {
      margin-left: 10px;
      float: left;
      margin-top: 40px;
   }
   #ozgecmis{
       margin-top: 100px;
       margin-left: 100px;
   }
   
 
